<h3 class="title is-2">
    fundlog, l’ami des OPCVM
</h3>
<p>
    fundlog est un outil vous permettant de suivre l’ensemble de vos investissements en OPCVM,
    dans vos différents portefeuilles ou contrats d’assurance-vie ou de capitalisation.
</p>
<p>
    Oubliez les ressaisies sur Excel ou autre tableur, vous pouvez accéder à vos portefeuilles
    de tous les ordinateurs, chez vous, au bureau ou en déplacement, en toute sécurité.
</p>
