{% extends 'base.html.twig' %}
{% form_theme form 'form/bulma_layout.html.twig' %}

{% block title %}Nouvelle alerte{% endblock %}

{% block body %}
    <div class="box has-background-grey-lighter">

        <h1 class="title is-3">Créer une nouvelle alerte</h1>

        {{ include('alert/_form.html.twig') }}

    </div>
{% endblock %}
