{% extends 'base.html.twig' %}

{% block title %}Portefeuilles{% endblock %}

{% block body %}
    <section class="container">

        <h1>Portefeuilles</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}


    </section>
{% endblock %}
