{% extends 'base.html.twig' %}

{% block title %}Portefeuilles{% endblock %}

{% block body %}
    <section class="container">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Liste des portefeuilles enregistrés par {{ app.user.fullname }}</h1>
            <p>Email: {{ app.user.email }}</p>



        {% else %}
            <p>Accès impossible</p>
        {% endif %}
    </section>
{% endblock %}
