{% extends 'base.html.twig' %}

{% block title %}Portefeuilles{% endblock %}

{% block body %}
    <section class="container">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/wamp64/www/php/patinoire/fundlog/src/Controller/PortfoliosController.php'|file_link(0) }}">src/Controller/PortfoliosController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/wamp64/www/php/patinoire/fundlog/templates/portfolios/index.html.twig'|file_link(0) }}">templates/portfolios/index.html.twig</a></code></li>
        </ul>
    </section>
{% endblock %}
