@charset "utf-8";

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');

// Set brand colors
$dark-green: #00281F;
$billiard: #037365;
$hope: #7BD4CC;
$terra: #7B895B;
$tan: #BEA42E;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$reddish: #960000;
$gween: #259169;

// Colors
$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default
$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default
$white-ter:    hsl(0, 0%, 96%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default
$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default

// Update Bulma's global variables

// Primary colors
$primary: $billiard;
$info: $hope;
$success: $gween;
$warning: $tan;
$danger: $reddish;
$light: $beige-light;
$dark: $dark-green;
$grey-dark: $terra;
$grey-darker: $billiard;
$grey-light: $beige-light;

$link: $tan;

//
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$navbar-background-color: $beige-lighter;
$body-background-color: $beige-lighter;
$section-padding: 1rem;
$footer-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Typography
$family-sans-serif: 'Open Sans Condensed', sans-serif;
$family-serif: 'Lora', serif;
$family-primary: 'Barlow Condensed', sans-serif;
$family-secondary: $family-serif;

// Import all Bulma
@import "~bulma/bulma";
// Import only what you need from Bulma
/*
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
*/

// Import font awesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// Unsplash credit
.unsplash {
  background-color: $terra;
  color: $hope;
  text-decoration: none;
  padding: 4px 6px;
  font-family: $family-primary;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

// Typography
.title {
  color: $billiard;
  font-family: $family-secondary;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

// Cookie popup
.cookie-popup-container {
  background-color: $billiard;
  z-index: 9999;
  position: fixed;
  max-width: 24em;
  bottom: 1em;
  left: 1em;
  color: $hope;
  overflow: hidden;
  transition: opacity 1s ease;
}

.cookie-popup-message {
  margin: 2em 2em 1.5em;
  display: block;
  font-size: 16px;
}

.cookie-popup-learn-more-link {
  color: $link;
  text-decoration: underline;
}

.cookie-popup-confirmation {
  margin: 2em 2em 1.5em;
  display: block;
}

@media (max-width: 399px) {
  .cookie-popup-message {
    margin:1em;
    display: block;
    font-size: 16px
  }

  .cookie-popup-confirmation {
    margin: 1em 1em 1.5em;
    display: block
  }
}