<h3>Votre compte sur fundlog est créé</h3>

Bonjour {{ user.fullname }},

Votre compte vient d'être créé sur fundlog.

{# example, assuming you have a route named "login" #}
Pour vous connecter, <a href="{{ url('app_login') }}">cliquez ici</a>.

Merci de votre confiance.

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="Logo fundlog">