<h3>Votre compte sur fundlog est créé !</h3>

<p>Bonjour {{ user.fullname }},</p>

<p>Votre compte vient d'être créé sur fundlog.</p>

<p>Pour vous connecter, <a href="{{ url('app_login') }}">cliquez ici</a>.</p>

<p>Merci de votre confiance.</p>
<p><i>L'équipe www.fundlog.fr.</i></p>

{#
Insertion du logo (inutile en dev)
<img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="Logo fundlog"></p>
#}