<h3>Votre mot de passe sur fundlog a été modifié !</h3>

<p>Bonjour {{ user.fullname }},</p>

<p>Votre mot de passe vient sur fundlog vient d'être modifié.</p>

<p>Pour vous connecter, <a href="{{ url('app_login') }}">cliquez ici</a>.</p>

<p>Merci de votre confiance.</p>
<p><i>L'équipe www.fundlog.fr.</i></p>

{#
Insertion du logo (inutile en dev)
<img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="Logo fundlog"></p>
#}