{% extends 'base.html.twig' %}

{% block title %}New PortfolioIo{% endblock %}

{% block body %}
    <h1>Create new PortfolioIo</h1>

    {{ include('portfolio_io/_form.html.twig') }}

    <a href="{{ path('portfolio_io_index') }}">back to list</a>
{% endblock %}
