{% extends 'base.html.twig' %}

{% block title %}New PortfolioLine{% endblock %}

{% block body %}
    <h1>Create new PortfolioLine</h1>

    {{ include('portfolio_line/_form.html.twig') }}

    <a href="{{ path('portfolio_line_index') }}">back to list</a>
{% endblock %}
